<!-- 作者：陈云龙 -->
<!-- 时间：2015-10-31 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>喵喵运动社区</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-modify.css" rel="stylesheet">
	<link href="css/interest.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.php">喵喵运动社区</a>
	</div>
	<div class="nav-center">
		<ul class="nav navbar-nav">
			<li><a href="index.php">首页 </i></a></li>
			<li><a href="race.php">竞赛 </a></li>
			<li><a href="activity.php">活动 </a></li>
			<li class="active"><a href="interest.php">兴趣组 </a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="user.php"><img class="avatar" src="<{$avatar}>"> <{$name}></a></li>
		</ul>
	</div>
</nav>
<div class="container box">
	<div class="content">
		<div class="notdeveloped">敬请期待</div>
	</div>
</div>
</body>
</html>
