body {
    font-size: 16px;
    color: #fff;

    font-family: 'Helvetica','Arial', sans-serif;
}

/** HEADER **/
#header-nav {

    background-color: black;
    border-radius: 0;
    border: 0;
}


.navbar-brand {
    padding-bottom: 5%;
}

.navbar-brand p { /* website name */
    font-family: 'Poiret One', sans-serif;
    color: white;
    font-size: 1.5em;

    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}


