/*
 * 2015-10-31
 * Created by cylong
 */

div.content {
	float: right;
	background-color: rgba(255,255,255,1);
	width: 100%;
	height: 100%;
}

.input-group-sm > .input-group-addon {
	border-radius: 0;
	color: white;
	background-color: rgba(20,136,245,0.5);
}

.input-group {
	margin: 20px 15%;
}
