html,
body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Merriweather', 'Helvetica Neue','Microsoft YaHei UI','微软雅黑', Arial, sans-serif;
}
hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px;
}
hr.light {
    border-color: white;
}
a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #F05F40;
}
a:hover,
a:focus {
    color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue','Microsoft YaHei UI','微软雅黑', Arial, sans-serif;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

header {
    position: relative;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url('../images/header-tem.jpg');
    background-position: center;
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

section {
    padding: 25px 0;
}

/*activity.html*/

#activity #activity-info .list-group {
    display: inline;

}
#guiding h4 {
    font-weight: 500;
    font-family: "Microsoft YaHei UI","微软雅黑",Arial,sans-serif;
}

#guiding .list-group {
}

#guiding .list-group .active {
    background-color: #f0ad4e;
    border-color: #f0ad5e;
}

#guiding .list-group a:hover {
    background-color: #f05f40;
    color: whitesmoke;
    -webkit-transition:  0.35s;
    -moz-transition:  0.35s;
    -ms-transition:  0.35s;
    -o-transition:  0.35s;
    transition:  0.35s;;
}

.pagination li a{
    color: #F05F40;
}

.pagination li a:hover {
    color: black;
}

.pagination >li> a.active {
    background-color: #f05f40;
    color: white;
}
#search {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

#search .search-box {
    position: relative;
}


#search .search-box .form-control {
    display: inline;
    width: 90%;
}

#search .search-box .form-control:focus {
    border-color: #f05f40;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 99, 71, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 99, 71, .6);
}

#search .search-box button {
    border: none;
    color: #f05f40;
    position: absolute;
    z-index: 5;
}

#search .search-box button:hover {
    background-color: #f05f40;
    color: white;
    top: -15%;

    width: 40px;
    height: 40px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
/*end of activity.html*/

/*single activity.html*/
#single-activity #activity-info .activity-info-box{
    padding-left: 25px;
}

#single-activity #activity-info .activity-info-nums {
    margin: 15px 15px 15px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    border-radius:2px;

    background-color: lightgrey;
}

#single-activity #activity-info .activity-info-nums i {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    color: #f05f40;

}
#single-activity #activity-info .activity-info-nums i span {
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Helvetica','Microsoft YaHei UI','FontAwesome',Arial;
}

#single-activity .user {
    position: relative;
    background-color: antiquewhite;
    padding-top: 15px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 15px;
}

#single-activity .user .user-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#single-activity .user button {
    position: absolute;
    border:none;
    padding-top: 0;
    text-align: center;
    clear: both;
}

#single-activity .user button:hover {
    background-color: #f05f40;
    color: white;
    width: 50px;
    height: 30px;
    top: -10%;

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

#single-activity .user .button-panel {
    position: relative;
    height: 30px;
    text-align: center;
}

#single-activity .user .user-content #participaters {
    padding-left: 15px;
    text-align: center;
    position: relative;

}

#single-activity .user .user-content #participaters  {

    z-index: 1;
}


#single-activity .user .user-content #participaters img:hover {

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);

    -webkit-transition:  0.35s;
    -moz-transition:   0.35s;
    -ms-transition:   0.35s;
    -o-transition:   0.35s;
    transition:   0.35s;
}



@media (min-width: 1200px) {
    #single-activity .user .user-content{
        width: 1170px;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    #single-activity .user .user-content{
        width: 970px;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    #single-activity .user .user-content{
        width: 750px;
    }
}



