body {
  font-size: 16px;
  color: black;
  background-color: lightgray;
  font-family: 'Helvetica','Arial', sans-serif;
}

/** HEADER **/
#header-nav {

  background-color: black;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { /* website name */
  font-family: 'Poiret One', 'Helvetica',sans-serif;
  color: white;
  font-size: 2.1em;

  font-weight: bold;

  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/**navbar**/
#nav-list {
  text-align: center;
}

#nav-list a {
  background-color: transparent;
  color:darkgrey;
}

#nav-list a:hover {
  color: antiquewhite;
  background-color: #cc3333;
}
.navbar-header .icon-bar {
  border: 1px solid antiquewhite;

}

.navbar-header button.navbar-toggle {
  border: 1px solid transparent;
}

.navbar-headder .icon-bar:hover, .navbar-header button.navbar-toggle:hover {
  background-color: #cc3333;
}

.navbar-headder .icon-bar:active, .navbar-header button.navbar-toggle:active{
  background-color: #cc3333;
}
/** end header**/

/** my set for bootstrap component**/
.container .jumbotron {
  box-shadow: 0 0 50px grey;
  border: 2px solid grey;
}

.thumbnail {
    min-height: 50px;

    margin-right:3px;
    margin-left: 3px;

    clear: both;
}

/** home-tiles **/
.container #home-tiles .show-s {
    text-transform: uppercase;
    min-height: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: auto;
}

.thumbnail img:hover {
    box-shadow: 0 0 20px black;
}

/** activities **/


.container #home-tiles #activities #activity-tile .thumbnail{
    text-transform: uppercase;
    background-color: black;
    color: white;

}

.container #home-tiles #activities #activity-tile .thumbnail a {
    color: white;
}

.container #home-tiles #activities #activity-tile .thumbnail img:hover {

}

.container #home-tiles #activities #activity-tile .show-s {
    background-color: black;

}
.container #home-tiles #activities #activity-tile .show-s a {
    color: white;

}

/** blogs **/
.container #home-tiles #blogs #blog-tile .thumbnail {
    text-transform: uppercase;
    background-color: #cc3333;
}
.container #home-tiles #blogs #blog-tile .thumbnail a {
    color:white;
}

.container #home-tiles #blogs #blog-tile .show-s {
    background: #cc3333;
}

.container #home-tiles #blogs #blog-tile .show-s a {
    color: white;
}

/** footer **/
div.panel-footer {
    padding: 0;
    background-color: black;
    color: white;

    clear: both;
}

div.panel-footer i {
    color: #cc3333;
}

div.panel-footer i:hover {
    color: darkred;
}



/** large devices **/
@media (min-width: 1200px){

  .jumbotron {
    margin-top: 20px;
    background: url("../images/run1_1200.jpg") no-repeat;
    height: 675px;

  }

    /**.container #activity-tile {
        height: 430px;
        background-color: black;
        color: white;
    }

    .container #activity-tile a {
        text-decoration: none;
    }**/

}

/** medium devices only **/
@media (max-width: 1199px) and (min-width: 992px){
  /* Header */
  .navbar-brand h1 {
    font-size: 2em;
  }

  .jumbotron {
    margin-top: 20px;
    background: url("../images/run1_990.jpg") no-repeat;
    height: 660px;

  }

    /**.container #activity-tile {
        height: 420px;
        background-color: black;
        color: white;
    }

    .container #activity-tile a {
        text-decoration: none;
    }**/


}

/** small devices only **/
@media (max-width: 991px) and (min-width: 768px) {
  .navbar-brand h1 {
    font-size: 1.9em;
  }

  .jumbotron {
    margin-top: 10px;
    background: url("../images/run1_768.jpg") no-repeat;
    height: 512px;

  }

  .panel-footer {
      margin-bottom: 0;
  }

    /**.container #activity-tile {
        height: 70px;
        background-color: black;
        color: white;

        margin-bottom: 30px;
        margin-right: 80px;
    }

    .container #activity-tile a {
        text-decoration: none;
        color:white;
    }**/
}

/** extra small devices only **/
@media (max-width: 768px){
  .navbar-header {
    height: 60px;
  }
  .navbar-brand h1 {
    font-size: 1.8em;
  }

  .container .jumbotron {
    margin-top: 20px;
    padding: 0;

  }



}